body { background:#fbfaf3; font-family:Arial; color:#17293f; }
.card {
    width: 70%;
    background:white;
    padding:20px;
    margin:20px auto;
    border-radius:10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
h2 { color:#00BCD4; }
.foto {
    width:150px; height:150px; border-radius:50%;
    object-fit:cover; border:3px solid #00BCD4;
}
.boton {
    background:#00BCD4; color:white; padding:10px;
    border:none; border-radius:6px; cursor:pointer;
}