{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Panel{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'usuario.css' %}">
</head>

<body>

    <!-- NAVBAR USUARIO -->
    <nav class="navbar">
        <div class="logo">ForgeSkill</div>
        <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'proyectos_list' %}">Proyectos</a></li>
            <li><a href="{% url 'mis_proyectos' %}">Mis Proyectos</a></li>
            <li><a href="{% url 'notificaciones' %}">Notificaciones</a></li>
            <li><a href="{% url 'perfil' %}">Perfil</a></li>
        </ul>
    </nav>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>